@font-face {
  font-family: "gotham";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"); }

@font-face {
  font-family: "gotham";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Light.eot");
  src: url("../fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "gotham";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "gotham";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "gotham";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro-Black.eot");
  src: url("../fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "gotham", sans-serif;
  font-weight: normal;
  color: #24262a;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "gotham", sans-serif;
  width: 100%;
  font-size: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #24262a;
  background: #7f8792;
  border: none;
    border-radius: 17.5px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #24262a; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #24262a; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #24262a; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #24262a; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    background: #fff; }

input {
  height: 35px;
  padding: 0 16px; }

textarea {
  height: 137px;
  padding: 12px 16px;
  width: 395px; }

.label-form {
  position: relative; }

.label-form.focus input, .label-form.focus textarea {
  background: #fff; }

.label-form.focus .input-placeholder {
  opacity: 0;
  visibility: hidden; }

.label-form-input .input-placeholder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.input-placeholder {
  position: absolute;
  width: 100%;
  color: #24262a;
  top: 12px;
  padding: 0 16px; }

.color-white {
  color: #fff; }

.links-politics {
  border-bottom: 1px solid #78797d; }
  .links-politics:hover {
    color: #78797d; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold; }
  .logo:hover {
    color: #fff; }

.logo-name {
  font-size: 47px; }

.logo-text {
  font-size: 18px;
  margin: 0 0 0 10px;
  max-width: 136px;
  width: 100%; }

.btn, button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .btn:hover, .btn:focus, button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  height: 30px;
  padding: 0 30px;
  font-weight: 500;
  border-radius: 15px; }

.btn-accent {
  background: #ff0000;
  color: #fff; }
  .btn-accent:hover {
    background: #e90505;
    color: #fff; }

.btn-black {
  color: #fff;
  background: #24262a;
  -webkit-box-shadow: 0.9px 5.9px 18px 0 rgba(0, 1, 0, 0.2);
          box-shadow: 0.9px 5.9px 18px 0 rgba(0, 1, 0, 0.2); }
  .btn-black:hover {
    background: #e90505;
    color: #fff; }

.btn-border {
  border: solid 1px #7f8792;
  color: #7f8792; }
  .btn-border:hover {
    color: #ffffff;
    border-color: #fff; }

h1 {
  text-transform: uppercase;
  font-size: 200px;
  font-weight: bold;
  line-height: 1; }

h2 {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: #818a95; }

.subtitle {
  letter-spacing: 7.04px;
  font-size: 32px;
  font-weight: 500;
  color: #24262a; }

.subtitle-text {
  font-size: 32px;
  margin: 0 0 30px;
  max-width: 420px;
  width: 100%; }

.container {
  max-width: 1365px; }

strong {
  display: inline-block;
  font-weight: bold; }

.box-text p {
  margin: 0 0 20px; }
  .box-text p:last-child {
    margin: 0; }

.bg-grey {
  background: #c8cacc; }

.bg-light-grey {
  background: #f0f0f0; }

.w-100 {
  width: 100%; }

header {
  padding: 30px 0;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }
  header .navbar {
    margin: 0 auto 0 13px; }

header.fixed {
  background: rgba(255, 255, 255, 0.9); }
  header.fixed .logo {
    color: #24262a; }

.navbar {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0; }

.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #7f8792;
  padding: 0 0 5px;
  border-bottom: 1px solid transparent; }
  .nav-link:hover {
    color: #24262a; }

.nav-item {
  margin: 0 45px 0 0; }
  .nav-item:last-child {
    margin: 0; }

.nav-link.active {
  border-bottom-color: #ff0000; }

main {
  padding: 106px 0 0;
  background: url("../img/bg-main.jpg") no-repeat center;
    background-size: cover;
  position: relative;
  margin: 0 0 13px; }
  main:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #c8cacc; }
  main .subtitle {
    margin: 0 0 30px; }

.main-content {
  position: relative;
  z-index: 1;
  padding: 72px 0 80px 13px; }
  .main-content .box-text {
    max-width: 492px;
    width: 100%; }

.main-img {
  margin: 0 0 0 -90px;
  min-width: 1044px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.about-main-content {
  height: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about h2 {
  color: #24262a;
  font-size: 200px; }

.about .box-text {
  max-width: 492px;
  width: 100%;
  color: #565656; }

.about .subtitle {
  margin: 0 0 30px; }

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 130px 0 74px; }

.about-img {
  margin: 0 auto 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.technology {
  padding: 155px 0 0; }
  .technology .box-title {
    margin: 0 auto; }

.slick-slide {
  outline: none; }

.technology-slider {
  margin: -50px auto 0; }

.technology-slider__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 30px;
  position: relative; }

.technology-slider__img {
  position: relative;
  max-width: 803px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.technology-slider__img-number {
  position: absolute;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 4px solid rgba(255, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  z-index: 1; }

.list-technology {
  font-size: 16px;
  font-weight: 500;
  display: none;
  margin: 50px 0;
  width: 50%; }
  .list-technology__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 24px; }
    .list-technology__line:last-child {
      margin: 0; }

.list-technology-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 4px solid rgba(255, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  width: 31px;
  min-width: 31px;
  height: 31px;
  margin: 0 25px 0 0; }

.num1 {
  left: 40px;
  top: 170px; }

.num2 {
  bottom: 80px;
  left: 170px; }

.num3 {
  bottom: 180px;
  left: 49%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.num4 {
  right: 170px;
  top: 160px; }

.num5 {
  bottom: 80px;
  right: 250px; }

.description-text {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  text-align: right; }
  .description-text:before {
    content: '';
    position: absolute;
    height: 1px;
    background: #ff0000; }
  .description-text:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: #ff0000;
    width: 5px;
    height: 5px; }

.description-text1 {
  left: 100px;
  top: 165px;
  max-width: 160px; }
  .description-text1:before {
    width: 85px;
    right: -96px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .description-text1:after {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: -15px; }

.description-text2 {
  max-width: 193px;
  bottom: 30px;
  left: 230px; }
  .description-text2:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 79px;
    right: -79px;
    top: -15px; }
  .description-text2:after {
    top: 13px;
    right: -12px; }

.description-text3 {
  max-width: 100px;
  text-align: center;
  bottom: 35px;
  left: 49.5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .description-text3:before {
    height: 153px;
    width: 1px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -155px; }
  .description-text3:after {
    top: -5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.description-text4 {
  max-width: 170px;
  text-align: left;
  right: 123px;
  top: 155px; }
  .description-text4:before {
    width: 185px;
    left: -190px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .description-text4:after {
    left: -10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.description-text5 {
  text-align: left;
  max-width: 205px;
  bottom: 30px;
  right: 300px; }
  .description-text5:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 79px;
    top: -15px;
    left: -79px; }
  .description-text5:after {
    top: 13px;
    left: -12px; }

.technology-slider__img-two {
  width: 803px; }

.num6 {
  left: 172px;
  top: 203px; }

.num7 {
  right: 124px;
  top: 182px; }

.num8 {
  top: 73px;
  left: 49%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.description-text6 {
  max-width: 218px;
  left: 0;
  top: 190px; }
  .description-text6:before {
    width: 209px;
    right: -219px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .description-text6:after {
    right: -10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.description-text7 {
  text-align: left;
  max-width: 190px;
  right: 70px;
  top: 170px; }
  .description-text7:before {
    width: 122px;
    left: -130px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .description-text7:after {
    left: -10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.description-text8 {
  max-width: 190px;
  left: 49.5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 35px; }
  .description-text8:before {
    width: 1px;
    height: 301px;
    top: -321px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .description-text8:after {
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.technology-slider-nav {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 30px; }

.slick-arrow {
  position: relative;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: none;
          transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  font-size: 14px;
  color: #818a95;
  font-family: "gotham", sans-serif;
  border-radius: 0;
  opacity: 1;
  z-index: 2; }
  .slick-arrow:hover, .slick-arrow:focus {
    opacity: 1;
    color: #ff0000; }
    .slick-arrow:hover:before, .slick-arrow:focus:before {
      opacity: 1; }
  .slick-arrow:before {
    content: '';
    display: inline-block;
    margin: 0 12px 0 0;
    background: url("../img/left.svg") no-repeat center;
      background-size: 100%;
    width: 48px;
    height: 9px;
    opacity: 1; }

.slick-next {
  margin: 0 0 0 auto; }
  .slick-next:before {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 0 12px;
    background: url("../img/right.svg") no-repeat center;
      background-size: 100%; }

.slick-disabled {
  opacity: 0; }
  .slick-disabled:focus, .slick-disabled:hover {
    opacity: 0; }

.advantages {
  padding: 66px 0; }
  .advantages .box-title {
    margin: 0 0 90px; }

.advantages-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #383f48;
  padding: 0 100px 0 0; }
  .advantages-box h3 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 30px; }

.advantages-img {
  width: calc(100% + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 -15px;
  height: 267px;
  overflow: hidden; }
  .advantages-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.advantages-line-two .advantages-img {
  margin: 0 -15px 0 0; }

.advantages-line-two .advantages-box {
  padding: 0 0 0 100px; }

.technology-slider__img-one {
  width: 714px; }

.buy {
  background: #818a95;
  color: #fff;
  padding: 102px 0 0; }
  .buy h2 {
    color: #fff; }
  .buy .subtitle {
    letter-spacing: 0;
    color: #fff; }
  .buy .box-title {
    margin: 0 auto 79px; }

.buy-img {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.buy-box {
  margin: 100px 0 0;
  background: #fff;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 1, 0, 0.2) inset;
          box-shadow: 0 -5px 10px 0 rgba(0, 1, 0, 0.2) inset;
  padding: 110px 58px 119px 56px;
  color: #24262a;
  font-size: 14px; }
  .buy-box h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 10px; }
  .buy-box .btn {
    max-width: 226px;
    width: 100%;
    margin: 32px 0 24px; }

.list-checkbox {
  font-size: 18px; }
  .list-checkbox li {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 10px; }
    .list-checkbox li:last-child {
      margin: 0; }
    .list-checkbox li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      background: url("../img/check.svg") no-repeat center;
        background-size: 100%; }

.price {
  margin: 26px 0 6px;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.currency {
  font-size: 18px;
  margin: 0 0 5px 5px; }

.warranty {
  font-size: 18px;
  font-weight: bold; }

.reviews {
  padding: 90px 0 64px; }
  .reviews .box-title {
    margin: 0 0 66px; }

.text-uppercase {
  text-transform: uppercase; }

.video-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 218px;
  color: #fff; }
  .video-box:hover {
    color: #fff; }
  .video-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.8); }

.video-box-max {
  height: 523px;
  margin: 0 0 22px; }
  .video-box-max:before {
    background-color: rgba(36, 38, 42, 0.8); }

.video-box-description {
  position: relative;
  font-size: 14px;
  color: #7e8791; }
  .video-box-description h3 {
    color: #24262a;
    font-size: 18px;
    font-weight: 500; }

.video-box-body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 18px;
  font-size: 14px; }

.video-box-time {
  right: 18px;
  top: 18px;
  position: absolute;
  font-size: 14px;
  font-weight: bold; }

.video-box-icon {
  max-width: 54px;
  width: 100%;
  margin: 0 auto 17px; }

.video-box-text {
  border-bottom: 1px solid #78797d; }

.video-box-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.video-box-min {
  margin: 0 0 8px;
  position: relative; }
  .video-box-min .video-box-description {
    position: absolute;
    padding: 18px;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff; }
  .video-box-min h3 {
    color: #fff; }
  .video-box-min .video-box-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto; }
  .video-box-min .video-box-icon {
    margin: 0;
    max-width: 27px; }
  .video-box-min .video-box-time {
    position: relative;
    top: 0;
    right: 0; }

.color-grey {
  color: #818a95; }

.load-more {
  text-align: right;
  margin: 34px 0 14px; }
  .load-more:hover {
    color: #ff0000; }

.links-reviews {
  text-align: right;
  color: #24262a;
  border-bottom: 1px solid #78797d;
  display: block;
  margin: 0 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .links-reviews:hover {
    color: #ff0000; }

footer {
  color: #fff;
  background: #24262a; }

.footer-bottom {
  background: #1a1b1e;
  padding: 20px 0;
  text-align: center; }

.copyright {
  font-size: 14px;
  color: #78797d; }
  .copyright a {
    display: inline; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 35px 0 auto; }
  .list-social li {
    margin: 0 26px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 24px;
      height: 24px; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 30px 0 0; }
  .footer-menu li {
    margin: 0 44px 0 0; }
    .footer-menu li:last-child {
      margin: 0; }
    .footer-menu li a {
      padding: 0;
      border: none; }
      .footer-menu li a:hover {
        color: #fff; }

.footer-top {
  padding: 29px 0 42px; }

.footer-box a {
  color: #fff; }

.footer-box h4 {
  font-weight: bold;
  font-size: 18px; }

.address {
  margin: 20px 0; }

.phone {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0; }

.info-doc {
  margin: 20px 0 0; }

.footer-box-info {
  max-width: 224px;
  width: 100%; }

.footer-box-document {
  margin: 0 auto;
  padding: 0 40px;
  border-left: 1px solid #43474d;
  border-right: 1px solid #43474d; }

.list-document {
  margin: 30px 0 0; }
  .list-document li {
    margin: 0 0 15px; }
    .list-document li:last-child {
      margin: 0; }
    .list-document li a {
      color: #7f8792;
      text-decoration: underline;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .list-document li a:hover {
        color: #fff; }

.footer-box-form h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 12px; }

.form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.clarification {
  font-size: 14px;
  font-weight: 500;
  color: #7f8792; }

.color-accent {
  color: #ff0000; }

.form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 23px 0 0; }
  .form-col:last-child {
    margin: 0; }

.label-form-input {
  width: 250px;
  margin: 0 0 17px; }
  .label-form-input:last-child {
    margin: 0; }

.footer-center {
  padding: 0 0 32px; }

.mobile-menu, .navbar-toggler {
  display: none; }

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
  background-color: #f9f9f9;
  max-width: 331px;
  width: 100%;
  z-index: 5;
  padding: 7px 0 0;
  overflow-y: auto;
  height: 100%; }
  .mobile-menu .navbar-nav {
    margin: 0; }
  .mobile-menu .nav-item {
    margin: 0; }
  .mobile-menu .nav-link {
    border: none;
    color: #24262a;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    padding: 20px 18px; }
  .mobile-menu .dropdown-menu {
    padding: 0 30px 46px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    left: 0;
    top: 0;
    position: relative !important;
    -webkit-transform: none !important;
            transform: none !important;
    background: #f1efef; }
    .mobile-menu .dropdown-menu .dropdown-item {
      color: #7f8792;
      font-size: 16px;
      padding: 0;
      margin: 0 0 20px;
      text-decoration: underline;
      white-space: normal; }
      .mobile-menu .dropdown-menu .dropdown-item:last-child {
        margin: 0; }
  .mobile-menu .dropdown.show {
    background: #f1efef; }
    .mobile-menu .dropdown.show .dropdown-toggle {
      text-decoration: none;
      font-weight: bold; }

.btn-close {
  margin: 0 11px 56px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.btn-close-icon {
  width: 15px;
  height: 15px;
  position: relative;
  margin: 0 0 0 12px; }
  .btn-close-icon:before, .btn-close-icon:after {
    content: '';
    position: absolute;
    left: 7px;
    background: #ff0000;
    width: 1px;
    height: 100%;
    top: 0; }
  .btn-close-icon:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close-icon:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 27, 30, 0.93);
  display: none;
  z-index: 3; }

.navbar-toggler {
  font-weight: 500;
  padding: 0;
  border: none; }

.navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 10px;
  width: 32px;
  height: 16px; }
  .navbar-toggler-icon span {
    height: 2px;
    width: 100%;
    background: #24262a;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .navbar-toggler-icon span:nth-child(2) {
      width: 28px; }
  .navbar-toggler-icon:hover span {
    background: #ff0000; }

.dropdown-toggle::after {
  display: none; }

.mb-35 {
  margin: 0 0 35px; }

.modal-dialog {
  max-width: 800px;
  border-radius: 0; }

.modal-header {
  background: #ededed;
  padding: 12px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .modal-header .close {
    margin: 0 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    color: #24262a;
    font-size: 16px;
    font-weight: normal;
    opacity: 1;
    text-shadow: none; }

.close {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  color: #24262a;
  font-size: 16px;
  font-weight: normal;
  opacity: 1;
  text-shadow: none; }

.close-icon {
  margin: 0 0 0 12px;
  width: 15px;
  height: 15px;
  position: relative; }
  .close-icon:before, .close-icon:after {
    content: '';
    position: absolute;
    left: 7px;
    background: #ff0000;
    width: 1px;
    height: 100%;
    top: 0; }
  .close-icon:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close-icon:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.modal-title {
  line-height: normal;
  color: #7f8792;
  font-size: 22px;
  font-weight: bold; }

.modal-content {
  border: none;
  border-radius: 0;
  background: #f9f9f9;
  -webkit-box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.09); }

.modal-footer {
  padding: 15px 30px;
  background-color: #ededed;
  border: none; }

.modal-body {
  padding: 0; }

.card {
  padding: 0;
  border: none;
    border-top: 1px solid #7f8792;
  border-radius: 0; }
  .card:first-child {
    border: none; }

.card-header {
  border: none;
  background: transparent;
  padding: 21px 30px 25px; }
  .card-header .btn {
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: #24262a;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none; }
    .card-header .btn:hover, .card-header .btn:focus {
      text-decoration: none; }

.card-body {
  padding: 0 30px 25px;
  color: #5d5f65;
  font-size: 14px; }

.collapse-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px; }
  .collapse-line:last-child {
    margin: 0; }
  .collapse-line h4 {
    font-weight: bold;
    font-size: 16px;
    color: #24262a; }

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  border-radius: 15px;
  border: solid 1px #7f8792;
  overflow: hidden; }
  .amount span {
    height: 30px;
    width: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: relative;
    background: #7f8792; }
    .amount span:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 19px;
      height: 2px;
      background: #bcc4ce;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .amount input {
    height: 30px;
    width: calc(100% - 64px);
    text-align: center;
    color: #7f8792;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    border-radius: 0;
    padding: 0; }
  .amount .up:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 19px;
    background: #bcc4ce;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.form-collapse input {
  background: #ededed; }

.form-collapse .collapse-line {
  margin: 0 0 14px; }
  .form-collapse .collapse-line button {
    margin: 0 auto 0 23px;
    height: 35px;
    border-radius: 17.5px; }
  .form-collapse .collapse-line .label-form {
    margin: 0; }
    .form-collapse .collapse-line .label-form:first-child {
      width: 38%; }
    .form-collapse .collapse-line .label-form:nth-child(2) {
      width: 32%; }
    .form-collapse .collapse-line .label-form:last-child {
      width: 28%; }
  .form-collapse .collapse-line .label-form-phone:first-child {
    width: 300px; }
  .form-collapse .collapse-line input {
    padding: 0 12px 0 9px; }

.btn-step {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto; }

.btn-grey {
  background: #bfbfbf;
  color: #7f8792; }
  .btn-grey:hover {
    background: #ff0000;
    color: #fff; }

.btn:disabled {
  background: #7f8792;
  border: solid 1px #7f8792;
  opacity: 1;
  color: #b7bfc9; }
  .btn:disabled:hover {
    background: #ff0000;
    color: #fff; }

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #24262a;
  padding: 0 0 0 24px; }

.label-text {
  width: 100%; }

.radio-inp {
  display: none; }

.label-title {
  font-size: 16px;
  font-weight: bold; }

.radio-custom {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 17px 0 0;
  position: absolute;
  left: 0;
  top: -3px;
  border: 1px solid #24262a;
    border-radius: 50%;
  cursor: pointer; }
  .radio-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 50%;
    width: 8px;
    height: 8px; }

.radio-inp:checked ~ .radio-custom:before {
  background: #ff0000; }

.sum-delivery {
  margin: 0 0 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #24262a; }

.list-radio {
  width: 100%;
  margin: 0 0 33px; }
  .list-radio li {
    width: 100%;
    margin: 0 0 30px; }
    .list-radio li:last-child {
      margin: 0; }

.links-doc {
  display: inline;
  color: #24262a;
  text-decoration: underline; }

.order-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .order-wrapper h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 15px;
    color: #24262a; }

.color-accent {
  color: #ff0000; }

.links-edit {
  text-decoration: underline; }

.order-product-val {
  font-size: 16px;
  color: #24262a;
  margin: 15px 0 0; }
  .order-product-val strong {
    font-size: 18px; }

.order-img {
  width: 339px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.order-info {
  width: calc(100% - 339px);
  padding: 0 0 0 16px; }

.delivery-box {
  margin: 27px 0 31px;
  padding: 19px 40px 16px 14px; }
  .delivery-box h4 {
    font-size: 16px;
    color: #24262a;
    margin: 0 0 20px;
    font-weight: bold; }

.consent {
  width: 100%;
  margin: 0 0 35px; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1350px) {
  .technology-slider__img-one, .technology-slider__img-two {
    width: 100%; }
  .technology-slider__box {
    margin: 0 auto; }
  .technology-slider__box-one {
    width: 508px; }
  .num1 {
    top: 115px;
    left: 15px; }
  .description-text1 {
    left: -173px;
    max-width: 95px;
    top: 103px; }
  .num2 {
    left: 92px;
    bottom: 54px; }
  .description-text2 {
    max-width: 190px;
    left: -150px;
    bottom: 10px; }
  .num3 {
    bottom: 130px; }
  .description-text3 {
    bottom: 20px;
    left: 49%; }
    .description-text3:before {
      height: 123px;
      top: -127px; }
  .num4 {
    top: 125px;
    right: 110px; }
  .description-text4 {
    right: -180px;
    max-width: 105px;
    top: 105px; }
  .num5 {
    bottom: 60px;
    right: 180px; }
  .description-text5 {
    bottom: 10px;
    right: -85px; }
  .technology-slider__box-two {
    width: 580px; }
  .num6 {
    left: 134px;
    top: 146px; }
  .description-text6 {
    max-width: 165px;
    top: 125px;
    left: -160px; }
    .description-text6:before {
      width: 144px;
      right: -150px; }
  .num7 {
    right: 125px;
    top: 118px; }
  .description-text7 {
    max-width: 135px;
    right: -140px;
    top: 98px; }
  .num8 {
    top: 60px; }
  .description-text8 {
    left: 49%;
    bottom: 10px; }
    .description-text8:before {
      height: 221px;
      top: -230px; }
    .description-text8:after {
      top: -10px; }
  .technology-slider-nav {
    margin: 0 0 26px; } }

@media only screen and (max-width: 1300px) {
  textarea {
    width: 320px; }
  .footer-box-document {
    padding: 0 30px; }
  .label-form-input {
    width: 220px; }
  .form-col {
    margin: 0 20px 0 0; } }

@media only screen and (max-width: 1200px) {
  .main-img {
    margin: 0 0 0 -60px;
    min-width: 900px; }
  .nav-item {
    margin: 0 20px 0 0; }
  h1, .about h2 {
    font-size: 170px; }
  .main-content {
    padding: 0 0 30px; }
  .subtitle {
    font-size: 28px;
    letter-spacing: 4.84px; }
  .subtitle-text {
    margin: 0;
    font-size: 28px;
    max-width: 375px; }
  header .navbar {
    margin: 0 auto 0 0; }
  textarea {
    width: 280px; }
  .form-wrapper {
    margin: 26px 0 20px; }
  .list-document li a {
    font-size: 14px; }
  footer .logo-name {
    font-size: 40px; }
  footer .logo-text {
    font-size: 15.5px;
    max-width: 116px; }
  .list-document {
    max-width: 160px; }
  .footer-box-document {
    padding: 0 25px; } }

@media only screen and (max-width: 992px) {
  header {
    padding: 17px 0; }
  h2 {
    font-size: 50px; }
  .main-img {
    min-width: 652px; }
  .subtitle {
    font-size: 22px; }
  main {
    padding: 66px 0 0; }
  .subtitle-text {
    font-size: 22px;
    max-width: 290px; }
  .box-text {
    font-size: 14px; }
  .logo-name {
    font-size: 39.5px; }
  .navbar-expand-lg {
    display: none; }
  .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 24px 0 auto; }
  h1, .about h2 {
    font-size: 130px; }
  main .subtitle, .about .subtitle {
    margin: 0 0 26px; }
  .logo-text {
    font-size: 15px;
    max-width: 115px;
    margin: 0 0 0 8px; }
  .about-wrapper {
    padding: 80px 0 40px; }
  .about-img {
    margin: 0 auto 30px; }
  .technology-slider {
    margin: -30px auto 0; }
  .technology {
    padding: 74px 0 0; }
  .advantages {
    padding: 101px 0 0; }
    .advantages .box-title {
      margin: 0 0 60px; }
  .advantages-img {
    height: 264px; }
  .advantages-box {
    padding: 0 28px 0 0; }
    .advantages-box .box-text {
      font-size: 16px; }
    .advantages-box h3 {
      font-size: 22px; }
  .advantages-line-two .advantages-box {
    padding: 0 0 0 28px; }
  .buy {
    padding: 33px 0 0; }
    .buy .box-title {
      margin: 0 auto 43px; }
  .buy-box {
    margin: 0;
    padding: 44px 36px 48px; }
  .reviews {
    padding: 52px 0 58px; }
    .reviews .box-title {
      margin: 0 0 38px; }
  .video-box {
    height: 165px; }
  .video-box-min .video-box-body {
    padding: 12px 10px; }
  .video-box-min .video-box-description h3 {
    font-size: 16px; }
  .video-box-max {
    height: 367px; }
  .load-more {
    margin: 21px 0 14px;
    font-size: 14px; }
  textarea {
    width: 370px; }
  .form-col {
    margin: 0 0 14px; }
  .form .form-wrapper, .form .line-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .form button {
    margin: 44px 0 0 auto; }
  .footer-box-document {
    padding: 0 55px 0 30px; }
  .list-document {
    max-width: 210px; }
  .footer-top {
    padding: 23px 0 60px; }
  .footer-center {
    padding: 0 0 30px; }
  .footer-menu li {
    margin: 0 40px 0 0; } }

@media only screen and (max-width: 940px) {
  .footer-menu li {
    margin: 0 30px 0 0; }
  .list-social {
    margin: 0 30px 0 auto; }
  .footer-top {
    padding: 23px 0 50px; } }

@media only screen and (max-width: 930px) {
  .description-text4 {
    right: -100px; }
    .description-text4:before {
      left: -105px;
      width: 100px; }
  .description-text6 {
    max-width: 150px;
    left: -130px; }
    .description-text6:before {
      width: 120px;
      right: -125px;
      top: 41%; }
    .description-text6:after {
      top: 41%; }
  .footer-box-form {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 68px; }
  .form button {
    margin: 0; }
  .form .form-wrapper, .form .line-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .form .form-wrapper {
    margin: 26px 0 15px; }
  .form .line-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .label-form {
    width: 100%; }
  .form-col-last {
    width: calc(100% - 254px - 25px); }
  .clarification {
    width: auto; }
  .label-form-input {
    width: 254px;
    margin: 0 0 15px; }
  textarea {
    width: 100%; }
  footer .logo {
    width: 100%;
    margin: 0 0 28px; }
  .list-social {
    margin: 0 auto 0 0; }
  .footer-box-document {
    border: none;
    padding: 0 0 0 39px; }
  .footer-box-info {
    border-right: 1px solid #43474d;
    max-width: 300px;
    padding: 0 69px 0 0; }
  .list-document {
    max-width: none; }
  .footer-center {
    padding: 0 0 46px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media only screen and (max-width: 900px) {
  .description-text {
    display: none; }
  .technology-slider__box {
    padding: 0; }
  .list-technology {
    display: block; } }

@media only screen and (max-width: 768px) {
  main:after {
    display: none; }
  .main-img {
    min-width: 1040px;
    margin: 0; }
  main {
    padding: 90px 0 0;
    margin: 0; }
  header {
    padding: 27px 0; }
    header .logo {
      color: #24262a; }
  h1, .about h2 {
    font-size: 200px; }
  .about-main-content {
    height: auto;
    margin: 60px 0 0;
    padding: 0; }
  .about .box-text {
    max-width: none; }
  .about .subtitle {
    font-size: 32px;
    letter-spacing: 7.04px; }
  .about .subtitle-text {
    font-size: 32px;
    max-width: 420px; }
  .about-wrapper {
    padding: 12px 0 60px; }
  .about-img {
    max-width: 620px;
    margin: 0 auto 74px; }
  .technology {
    padding: 50px 0 0; }
  .technology-slider-nav {
    margin: 0; }
  .advantages {
    padding: 54px 0 0; }
    .advantages .box-title {
      margin: 0 0 24px; }
  .advantages-img {
    width: 100%;
    margin: 0 auto;
    height: 250px; }
  .advantages-box {
    max-width: none;
    width: 100%;
    padding: 22px 0 0;
    margin: 0 0 39px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto; }
  .advantages-line-two .advantages-box {
    padding: 22px 0 0; }
  .buy-img {
    width: 521px; }
  .buy {
    padding: 37px 0 0; }
    .buy .box-title {
      margin: 0 auto 23px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
  .buy-box {
    padding: 44px 30px 32px 21px; }
  .video-box-max {
    height: 359px; }
  .load-more {
    margin: 0 0 4px; }
  .reviews {
    padding: 45px 0; }
    .reviews .box-title {
      margin: 0 0 36px; } }

@media only screen and (max-width: 670px) {
  .buy h2 {
    font-size: 40px; }
  .buy .box-text {
    margin: 0 auto 39px; }
  .buy .subtitle {
    margin: 0 0 20px; }
  .buy-img {
    width: 352px; }
  .buy-box {
    padding: 19px 14px 15px;
    max-width: 228px;
    margin: 0 0 0 auto; }
    .buy-box h3 {
      font-size: 16px; }
    .buy-box .btn {
      margin: 16px 0 21px;
      max-width: 177px; } }

@media only screen and (max-width: 650px) {
  .footer-box-info {
    padding: 0 17px 0 0;
    max-width: 240px; }
  .main-img {
    min-width: 700px; }
  header {
    padding: 22px 0; }
  .footer-menu {
    width: calc(100% - 74px - 28px);
    margin: 38px 0 0; }
  .list-social {
    margin: 38px auto 0 0; }
  .footer-top .btn {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 0 auto; }
  footer .logo {
    margin: 0;
    width: calc(100% - 120px);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .form-collapse .collapse-line .label-form:first-child, .form-collapse .collapse-line .label-form:nth-child(2), .form-collapse .collapse-line .label-form:last-child {
    margin: 0 0 10px;
    width: 49%; }
  .form-collapse .collapse-line .label-form-phone:first-child {
    width: 100%; }
  .form-collapse .collapse-line button {
    margin: 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 590px) {
  .navbar-toggler-text {
    display: none; }
  .navbar-toggler-icon {
    margin: 0; }
  .main-img {
    min-width: 600px;
    margin: 0 0 0 -40px; }
  h1, .about h2 {
    font-size: 180px; }
  .about {
    padding: 52px 0 45px; }
    .about .subtitle {
      font-size: 28px;
      letter-spacing: 6.16px;
      margin: 0 0 35px; }
    .about .subtitle-text {
      font-size: 28px;
      max-width: 370px; }
  .about-wrapper {
    padding: 11px 0 0; }
  .about-img {
    margin: 0 auto 57px;
    max-width: 463px; }
  .technology-slider__box-two, .technology-slider__box-one {
    width: 472px; }
  .technology {
    padding: 49px 0 30px; }
  .list-technology {
    margin: 0;
    width: 100%;
    font-size: 16px; }
    .list-technology__line {
      margin: 0 0 14px; }
      .list-technology__line:last-child {
        margin: 0 0 14px; }
  .list-technology-num {
    margin: 0 11px 0 0; }
  .technology-slider-nav {
    margin: 0 0 48px; }
  .advantages {
    padding: 39px 0 26px; }
  .advantages-box {
    margin: 0 0 24px; }
    .advantages-box h3 {
      margin: 0 0 20px; }
  .list-checkbox {
    font-size: 16px; }
  .video-box-max {
    height: 268px; }
  .reviews {
    padding: 58px 0 40px; }
    .reviews .box-title {
      margin: 0 0 40px; }
  .reviews-item-info {
    width: 100%;
    margin: 36px 0 0 auto; }
  .reviews .line-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-box-document {
    padding: 0; }
  .footer-top {
    padding: 24px 0 35px; }
  .footer-menu li {
    margin: 0 25px 0 0; }
  .form-col-last {
    width: 100%;
    margin: 34px 0 0; }
  .form .line-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .form button {
    margin: 36px 0 0 auto; }
  .footer-box-form {
    margin: 0 0 76px; }
  .label-form-input {
    width: 100%; }
  .form-col {
    width: 100%; }
  .card-header .btn {
    font-size: 18px; }
  .collapse-line {
    margin: 0 0 20px; }
  .amount {
    width: 200px;
    margin: 10px auto 0; }
  .card-body {
    padding: 0 20px 20px; }
  .card-header {
    padding: 20px; }
  .order-img {
    width: 200px; }
  .order-info {
    width: calc(100% - 200px); } }

@media only screen and (max-width: 540px) {
  .list-document {
    max-width: 225px;
    margin: 20px 0 0; }
  .footer-box h4 {
    font-size: 16px; }
  .footer-box-info {
    max-width: 222px;
    font-size: 14px; }
  .form-collapse .collapse-line .label-form:first-child, .form-collapse .collapse-line .label-form:nth-child(2), .form-collapse .collapse-line .label-form:last-child {
    width: 100%; }
  .sum-delivery {
    width: 100%;
    margin: 10px 0 0 auto;
    text-align: right; }
  .modal-title {
    font-size: 18px; }
  .modal-header {
    padding: 12px 20px; }
  .modal-footer {
    padding: 15px 20px; } }

@media only screen and (max-width: 480px) {
  .technology-slider__box-two, .technology-slider__box-one {
    width: 300px; }
  .num7 {
    top: 80px;
    right: 70px; }
  .num6 {
    left: 74px;
    top: 80px; }
  .num1 {
    top: 70px; }
  .num2 {
    left: 40px;
    bottom: 30px; }
  .num3 {
    bottom: 50px; }
  .num4 {
    top: 80px;
    right: 60px; }
  .num5 {
    bottom: 30px;
    right: 100px; }
  .technology-slider {
    margin: -20px auto 0; }
  h2 {
    font-size: 40px; }
  .buy h2 {
    font-size: 30px; }
  .buy .subtitle {
    margin: 0 0 10px;
    font-size: 18px; }
  .subtitle {
    font-size: 20px; }
  .list-document {
    max-width: 170px; }
  .footer-menu li {
    margin: 0 20px 0 0; }
    .footer-menu li a {
      font-size: 14px; } }

@media only screen and (max-width: 440px) {
  .logo-name {
    font-size: 26px; }
  .logo-text {
    font-size: 11px; }
  header {
    padding: 15px 0; }
  .btn {
    padding: 0 15px;
    font-size: 14px;
    height: 28px; }
  .navbar-toggler {
    width: 28px;
    margin: 0 10px 0 auto; }
  .navbar-toggler-icon span:nth-child(2) {
    width: 20px; }
  .main-img {
    min-width: 500px; }
  h1, .about h2 {
    font-size: 100px; }
  .about .subtitle-text, .about .subtitle {
    font-size: 22px; }
  h2 {
    font-size: 30px; }
  .buy-box h3 {
    font-size: 14px; }
  .list-checkbox {
    font-size: 14px; }
  .price {
    margin: 20px 0 10px; }
  .warranty {
    font-size: 14px; }
  .buy-img {
    width: 250px; }
  .buy h2 {
    font-size: 24px; }
  .buy .subtitle {
    font-size: 16px; }
  .price {
    font-size: 26px; }
  footer .logo-text {
    font-size: 12px; }
  footer .logo-name {
    font-size: 30px; }
  .list-social li {
    margin: 0 15px 0 0; }
  .footer-menu {
    width: calc(100% - 80px); }
    .footer-menu li {
      margin: 0 15px 0 0; }
      .footer-menu li a {
        font-size: 12px; }
  .phone {
    font-size: 18px; }
  .footer-box-info {
    max-width: 210px; }
  .delivery-box {
    margin: 20px 0;
    padding: 0; }
  .order-info {
    width: 100%;
    padding: 0;
    margin: 20px 0 0; }
  .order-img {
    margin: 0 auto 20px; } }

@media only screen and (max-width: 420px) {
  .footer-box-info {
    max-width: none;
    padding: 0;
    border: none;
    margin: 0 0 30px; }
  .footer-box-document {
    margin: 0; }
  .list-document {
    max-width: none; } }

@media only screen and (max-width: 360px) {
  .buy-img {
    width: 200px; }
  .buy h2 {
    font-size: 20px; }
  .buy .subtitle {
    font-size: 14px; } }
